/*
@font-face{
    font-family: Rapscallion;
    src: url('../fonts/RAPSCALL.ttf');
}
*/
@font-face{
    font-family: 'Card Charcters';
    src: url('../fonts/CardChar.ttf');
}
@font-face{
    font-family: 'Card Characters Narrow';
    src: url('../fonts/CardCharNarrow.ttf');
}

@keyframes pulse{
    /*0%   {transform: scale(1,1);}
    50%  {transform: scale(1.8,1.8);}
    100% {transform: scale(1,1);}*/
    from {transform: scale(1,1);}
    to   {transform: scale(1.8,1.8);}
}

@keyframes draw{
    0% {transform: scale(0.05); left: -22%;}
    80% {transform: scale(1.1); left: 32.5%;}
    100% {transform: scale(1); left: 32.5%;}
}

@keyframes hide{
    0% {transform: scale(1); left: 32.5%;}
    80% {transform: scale(1.1); left: 32.5%;}
    100% {transform: scale(0.05); left: -22%;}
}

.backward{
    animation-name: hide;
    animation-duration: 850ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

body{
    margin: 0;
    background-image: url('../media/FeltTexture2.png');
}

#btmSuit{
    right: 2.5%;
    bottom: 2%;
    font-size: 45px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
#btmSuit > img, #topSuit > img{
    position: relative;
    right: 5px;
}
*/

#card-inner > p{
    margin: 0;
    /*font-family: 'Times New Roman', Times, serif;*/
}

#card-inner{
    margin: 8% 10%;
    border: 2px solid #080f50;
    /*border-radius: 30px;*/
    padding: 2%;
    height: inherit;
    font-size: 17px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: justify;
    z-index: 2;
    overflow-y: scroll;
}

#card-main{
    /* Alternate (portrait) values:
    width: 51.34%;
    height: 75.94%;
    */
    width: 35%;
    height: 83%;
    /*margin: 0 32.5%;*/
    /*border: 3px solid #080f50;*/
    border-radius: 30px;
    /*padding: 7.06% 8.66%;*/
    position: absolute;
    left: 32.5%;
    transform: scale(1);
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.54), 0 3px 14px 2px rgba(0, 0, 0, 0.52), 0 5px 5px -3px rgba(0, 0, 0, 0.42);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.54), 0 3px 14px 2px rgba(0, 0, 0, 0.52), 0 5px 5px -3px rgba(0, 0, 0, 0.42);
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardStack{
    /*display: grid;*/
    position: fixed;
    top: 40%;
    z-index: 5;
}

#cardSuit{
    position: absolute;
    opacity: 0.3;
    z-index: 1;
    width: 60%;
}

.felt{
    color: #2ed73a;
}

.forward{
    animation-name: draw;
    animation-duration: 850ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

h1{
    font-family: 'Card Charcters';
    font-weight: normal;
    margin: 15px;
}

header{
    text-align: center;
    /*max-height: 40px !important;*/
}

#music{
    display: none;
}

nav{
    position: fixed;
    left: 0;
    padding: 20px;
    background-color: #eaeaea;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.34), 0 3px 14px 2px rgba(0, 0, 0, 0.32), 0 5px 5px -3px rgba(0, 0, 0, 0.22);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.34), 0 3px 14px 2px rgba(0, 0, 0, 0.32), 0 5px 5px -3px rgba(0, 0, 0, 0.22);
}

nav > ul{
    padding: 0;
}

p a:link, nav a:link, li a:link{
    color: #c70500;
    text-decoration: underline;
}

p a:visited, nav a:visited, li a:visited{
    color: #c70500;
    text-decoration: underline;
}

p a:hover, nav a:hover, li a:hover{
    color: #c70500;
    text-decoration: underline;
}

p a:active, nav a:active, li a:active{
    color: #c70500;
    text-decoration: underline;
}

#playBtn{
    position: fixed;
    color: #ff0000;
    bottom: 30px;
    left: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-size: 70px;
}

#playBtn:hover{
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#topSuit, #btmSuit{
    position: absolute;
    font-weight: bolder;
    font-family: 'Card Charcters';
    text-align: center;
}

#topSuit{
    left: 2.5%;
    top: 2%;
    font-size: 45px;
}

@media screen and (orientation: portrait){
    #card-main{
        width: 63.34%;
    }
    #cardSuit{
        width: 80%;
    }
    #card-inner{
        width: 71%;
    }
    #topSuit{
        left: 0.8%;
    }
    #btmSuit{
        right: 0.8%;
    }
}