/*Main app styling*/
#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#content {
    padding-left: 300px;
    display: flex;
    background-color: #E5E7F4;
}

#portfolio {
    flex-basis: 500px;
    min-width: 500px;
    column-count: 1 !important;
}

/*Info Panel Styling*/
#info {
    height: 100vh;
    padding: 0 1%;
    box-shadow: -8px 0px 6px -9px rgba(0, 0, 0, 1) !important;
    flex-grow: 1;
    overflow-y: auto;
}

/*Card styling*/
a .card {
    color: black;
    cursor: pointer;
}



/*Side bar styling*/
#profile-card {
    box-shadow: -8px 0px 10px -8px rgba(0, 0, 0, 1) inset !important;
    color: #ffffff;
}

#img-tab {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: teal;
}

.sidenav li>a,
.sidenav li>a>i {
    color: #ffffff;
    padding-left: 5px;
}

#id-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin-top: 15px;
}

#id-card img {
    border-radius: 5%;
    width: 70%;
    height: auto;
}

#social-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 100%;
}

.link {
    cursor: pointer;
    transition: padding 300ms, font-size 300ms, color 300ms;
    font-size: 18px !important;
    color: #ffffff !important;
    text-decoration: underline;
}

#flip-img {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.25s;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

#flip-img.active {
    transform: rotateY(180deg);
}

#flip-img img {
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#id-front {
    transform: rotateY(0deg);
    z-index: 2;
}

#id-back {
    transform: rotateY(180deg);
}